<?xml version="1.0" encoding="utf-8" ?>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="WildBerriesTask.Models.Coins.ICoinsDataProvider, WildBerriesTask"
                mapTo="WildBerriesTask.Models.Coins.CoinsXmlDataProvider, WildBerriesTask"/>
      <register type="WildBerriesTask.Models.Drinks.IDrinksDataProvider, WildBerriesTask" 
                mapTo="WildBerriesTask.Models.Drinks.DrinksXmlDataProvider, WildBerriesTask"/>
    </container>
  </unity>